{% extends 'base_cover.html' %}

{% block title %}
Main page
{% endblock %}

{% block main %}
<label for="cd-dropdown">Select country:</label>
<select id="cd-dropdown" class="cd-select" onchange="top.location=this.value">
<option value="/country/abw">ABW</option>
<option value="/country/afg">AFG</option>
<option value="/country/ago">AGO</option>
<option value="/country/alb">ALB</option>
<option value="/country/and">AND</option>
<option value="/country/are">ARE</option>
<option value="/country/arg">ARG</option>
<option value="/country/aus">AUS</option>
<option value="/country/aut">AUT</option>
<option value="/country/aze">AZE</option>
<option value="/country/bdi">BDI</option>
<option value="/country/bel">BEL</option>
<option value="/country/ben">BEN</option>
<option value="/country/bfa">BFA</option>
<option value="/country/bgd">BGD</option>
<option value="/country/bgr">BGR</option>
<option value="/country/bhr">BHR</option>
<option value="/country/bhs">BHS</option>
<option value="/country/bih">BIH</option>
<option value="/country/blr">BLR</option>
<option value="/country/blz">BLZ</option>
<option value="/country/bmu">BMU</option>
<option value="/country/bol">BOL</option>
<option value="/country/bra">BRA</option>
<option value="/country/brb">BRB</option>
<option value="/country/brn">BRN</option>
<option value="/country/btn">BTN</option>
<option value="/country/bwa">BWA</option>
<option value="/country/caf">CAF</option>
<option value="/country/can">CAN</option>
<option value="/country/che">CHE</option>
<option value="/country/chl">CHL</option>
<option value="/country/chn">CHN</option>
<option value="/country/civ">CIV</option>
<option value="/country/cmr">CMR</option>
<option value="/country/cod">COD</option>
<option value="/country/cog">COG</option>
<option value="/country/col">COL</option>
<option value="/country/cpv">CPV</option>
<option value="/country/cri">CRI</option>
<option value="/country/cub">CUB</option>
<option value="/country/cyp">CYP</option>
<option value="/country/cze">CZE</option>
<option value="/country/deu">DEU</option>
<option value="/country/dji">DJI</option>
<option value="/country/dma">DMA</option>
<option value="/country/dnk">DNK</option>
<option value="/country/dom">DOM</option>
<option value="/country/dza">DZA</option>
<option value="/country/ecu">ECU</option>
<option value="/country/egy">EGY</option>
<option value="/country/eri">ERI</option>
<option value="/country/esp">ESP</option>
<option value="/country/est">EST</option>
<option value="/country/eth">ETH</option>
<option value="/country/fin">FIN</option>
<option value="/country/fji">FJI</option>
<option value="/country/fra">FRA</option>
<option value="/country/fro">FRO</option>
<option value="/country/gab">GAB</option>
<option value="/country/gbr">GBR</option>
<option value="/country/geo">GEO</option>
<option value="/country/gha">GHA</option>
<option value="/country/gin">GIN</option>
<option value="/country/gmb">GMB</option>
<option value="/country/grc">GRC</option>
<option value="/country/grl">GRL</option>
<option value="/country/gtm">GTM</option>
<option value="/country/gum">GUM</option>
<option value="/country/guy">GUY</option>
<option value="/country/hkg">HKG</option>
<option value="/country/hnd">HND</option>
<option value="/country/hrv">HRV</option>
<option value="/country/hti">HTI</option>
<option value="/country/hun">HUN</option>
<option value="/country/idn">IDN</option>
<option value="/country/ind">IND</option>
<option value="/country/irl">IRL</option>
<option value="/country/irn">IRN</option>
<option value="/country/irq">IRQ</option>
<option value="/country/isl">ISL</option>
<option value="/country/isr">ISR</option>
<option value="/country/ita">ITA</option>
<option value="/country/jam">JAM</option>
<option value="/country/jor">JOR</option>
<option value="/country/jpn">JPN</option>
<option value="/country/kaz">KAZ</option>
<option value="/country/ken">KEN</option>
<option value="/country/kgz">KGZ</option>
<option value="/country/khm">KHM</option>
<option value="/country/kir">KIR</option>
<option value="/country/kor">KOR</option>
<option value="/country/kwt">KWT</option>
<option value="/country/lao">LAO</option>
<option value="/country/lbn">LBN</option>
<option value="/country/lbr">LBR</option>
<option value="/country/lby">LBY</option>
<option value="/country/lie">LIE</option>
<option value="/country/lka">LKA</option>
<option value="/country/lso">LSO</option>
<option value="/country/ltu">LTU</option>
<option value="/country/lux">LUX</option>
<option value="/country/lva">LVA</option>
<option value="/country/mac">MAC</option>
<option value="/country/mar">MAR</option>
<option value="/country/mco">MCO</option>
<option value="/country/mda">MDA</option>
<option value="/country/mdg">MDG</option>
<option value="/country/mex">MEX</option>
<option value="/country/mli">MLI</option>
<option value="/country/mlt">MLT</option>
<option value="/country/mmr">MMR</option>
<option value="/country/mng">MNG</option>
<option value="/country/moz">MOZ</option>
<option value="/country/mrt">MRT</option>
<option value="/country/mus">MUS</option>
<option value="/country/mwi">MWI</option>
<option value="/country/mys">MYS</option>
<option value="/country/nam">NAM</option>
<option value="/country/ner">NER</option>
<option value="/country/nga">NGA</option>
<option value="/country/nic">NIC</option>
<option value="/country/nld">NLD</option>
<option value="/country/nor">NOR</option>
<option value="/country/npl">NPL</option>
<option value="/country/nzl">NZL</option>
<option value="/country/omn">OMN</option>
<option value="/country/pak">PAK</option>
<option value="/country/pan">PAN</option>
<option value="/country/per">PER</option>
<option value="/country/phl">PHL</option>
<option value="/country/png">PNG</option>
<option value="/country/pol">POL</option>
<option value="/country/pri">PRI</option>
<option value="/country/prt">PRT</option>
<option value="/country/pry">PRY</option>
<option value="/country/pse">PSE</option>
<option value="/country/qat">QAT</option>
<option value="/country/rks">RKS</option>
<option value="/country/rou">ROU</option>
<option value="/country/rus">RUS</option>
<option value="/country/rwa">RWA</option>
<option value="/country/sau">SAU</option>
<option value="/country/sdn">SDN</option>
<option value="/country/sen">SEN</option>
<option value="/country/sgp">SGP</option>
<option value="/country/slb">SLB</option>
<option value="/country/sle">SLE</option>
<option value="/country/slv">SLV</option>
<option value="/country/smr">SMR</option>
<option value="/country/som">SOM</option>
<option value="/country/srb">SRB</option>
<option value="/country/ssd">SSD</option>
<option value="/country/sur">SUR</option>
<option value="/country/svk">SVK</option>
<option value="/country/svn">SVN</option>
<option value="/country/swe">SWE</option>
<option value="/country/swz">SWZ</option>
<option value="/country/syc">SYC</option>
<option value="/country/syr">SYR</option>
<option value="/country/tcd">TCD</option>
<option value="/country/tgo">TGO</option>
<option value="/country/tha">THA</option>
<option value="/country/tjk">TJK</option>
<option value="/country/tls">TLS</option>
<option value="/country/tto">TTO</option>
<option value="/country/tun">TUN</option>
<option value="/country/tur">TUR</option>
<option value="/country/twn">TWN</option>
<option value="/country/tza">TZA</option>
<option value="/country/uga">UGA</option>
<option value="/country/ukr">UKR</option>
<option value="/country/ury">URY</option>
<option value="/country/usa">USA</option>
<option value="/country/uzb">UZB</option>
<option value="/country/ven">VEN</option>
<option value="/country/vir">VIR</option>
<option value="/country/vnm">VNM</option>
<option value="/country/vut">VUT</option>
<option value="/country/yem">YEM</option>
<option value="/country/zaf">ZAF</option>
<option value="/country/zmb">ZMB</option>
<option value="/country/zwe">ZWE</option>
  </select>
{% endblock %}